# version: '3.8'

services:
  postgres_db:
    image: postgres:17.2-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - blog_network

  pg_admin:
    image: dpage/pgadmin4:latest
    container_name: pg_admin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - postgres_db
    networks:
      - blog_network

  backend:
    container_name: simple_blog_backend
    image: thepujon/simple_blog_backend:1.1
    ports:
      - "5000:5000"
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${POSTGRES_USER}
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_NAME: ${POSTGRES_DB}
      NODE_ENV: ${NODE_ENV}
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: 1000
    depends_on:
      - postgres_db
      - pg_admin
    networks:
      - blog_network

networks:
  blog_network:
    driver: bridge

volumes:
  db_data:
